@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --eriop-primary: #1e40af;
  --eriop-danger: #dc2626;
  --eriop-warning: #f59e0b;
  --eriop-success: #16a34a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
